
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.dw-blue-1 { background-color: #0F5288 !important;}
.dw-blue-2 { background-color: #3573A3 !important;}
.dw-blue-3 { background-color: #5A94BD !important;}
.dw-blue-4 { background-color: #80B5D8 !important;}
.dw-blue-5 { background-color: #A5D6F2 !important;}

.text-dw-blue-1 { color: #0F5288 !important;}
.text-dw-blue-2 { color: #3573A3 !important;}
.text-dw-blue-3 { color: #5A94BD !important;}
.text-dw-blue-4 { color: #80B5D8 !important;}
.text-dw-blue-5 { color: #A5D6F2 !important;}

.dw-green-1 { background-color: #046031 !important;}
.dw-green-2 { background-color: #237A4C !important;}
.dw-green-3 { background-color: #429368 !important;}
.dw-green-4 { background-color: #60AD83 !important;}
.dw-green-5 { background-color: #7FC69E !important;}

.text-dw-green-1 { color: #046031 !important;}
.text-dw-green-2 { color: #237A4C !important;}
.text-dw-green-3 { color: #429368 !important;}
.text-dw-green-4 { color: #60AD83 !important;}
.text-dw-green-5 { color: #7FC69E !important;}

.btn {
    color: #fff !important;
}

.bg {
    background-color: #edf1f6;
}

/* Color alteration */

.tabs .indicator {
    background-color: transparent !important;
}

/* -- */

.collection .collection-item.avatar p {
    font-size: 22px !important;
    padding-top: 2%;
}

.collection .collection-item.avatar .secondary-content {
    font-size: 30px !important;
}

.collection .collection-item.avatar {
    min-height: 63px !important;
}

.tab-header {
    font-size: 22px;
}

#mailText {
    float: right;
    margin-top: -14%;
}

#profileImage {
    border-radius: 50%;
}


/* Custom Colors */

.datepicker-date-display {
    background-color: #046031 !important;
}

.is-today {
    color: #046031 !important;
}

.is-selected .datepicker-day-button {
    color: #fff !important;
    background-color: #046031 !important;
}

.datepicker-cancel, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #046031 !important;
}

.datepicker-done, .datepicker-clear, .datepicker-today, .datepicker-done {
    color: #046031 !important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #046031 !important;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #237A4C !important;
}

.input-field .prefix.active {
    color: #046031 !important;
}

input:not([type]):focus:not([readonly]),
input[type=text]:not(.browser-default):focus:not([readonly]),
input[type=password]:not(.browser-default):focus:not([readonly]),
input[type=email]:not(.browser-default):focus:not([readonly]),
input[type=url]:not(.browser-default):focus:not([readonly]),
input[type=time]:not(.browser-default):focus:not([readonly]),
input[type=date]:not(.browser-default):focus:not([readonly]),
input[type=datetime]:not(.browser-default):focus:not([readonly]),
input[type=datetime-local]:not(.browser-default):focus:not([readonly]),
input[type=tel]:not(.browser-default):focus:not([readonly]),
input[type=number]:not(.browser-default):focus:not([readonly]),
input[type=search]:not(.browser-default):focus:not([readonly]),
textarea.materialize-textarea:focus:not([readonly]) {
    border-bottom: 1px solid #046031;
    -webkit-box-shadow: 0 1px 0 0 #046031;
    box-shadow: 0 1px 0 0 #046031;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #046031;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:after {
    background-color: #046031;
}

[type="radio"]:checked+span:after, [type="radio"].with-gap:checked+span:before, [type="radio"].with-gap:checked+span:after {
    border: 2px solid #046031;
}

.dropdown-content li>a, .dropdown-content li>span {
    color: #046031;
}
/* -- */



